.add-product{
	width: 70%;
	margin: auto;
	padding: 20px;
	color: black;
}
.formData{
	border: none;
	outline: none;
	width: 100%;
	border-bottom: 2px solid black;
}
.formSelect{
	border: none;
	outline: none;
	border-bottom: 2px solid black;
	color: #000;
}
.formInfo{
	text-align: left;
	width: 80%;
}
#p1{
	width: 80%;
}
.h3{
	text-align: center;
	color:#fff;
	padding: 5px;
}
.productHeader{
	background-color:#4696DC;
	width: 70%;
	margin: auto;
	align-items: center;
	align-content: center;
	justify-content: center;
}
.formBtn{
	margin: auto;
	width: 110%;
	height: 40px;
	background-color: #4696DC;
	border: none;
	color: #fff;
}
.formData:hover{
	outline: none;
}

.formBtn:hover{
	background-color: #175B96;
}
::placeholder{
	color: #000;
}